# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file_to_load = "cities.csv"
data = pd.read_csv(file_to_load,low_memory=False)
pprint(data)
weather_data = data[["city","lat","lon","humidity","country"]]
weather_data

Unnamed: 0            city    lat     lon  max temp  humidity  clouds  \
0             0           kapaa  22.08 -159.32     78.80      78.0    75.0
1             1       cape town -33.93   18.42     60.01      93.0    90.0
2             2         rikitea -23.12 -134.97     69.35      80.0    94.0
3             3    punta arenas -53.15  -70.92     39.20      80.0    90.0
4             4  campbell river  50.02 -125.24     66.20      72.0    40.0
..          ...             ...    ...     ...       ...       ...     ...
497         497             sur  -6.88  112.21     76.50      84.0    89.0
498         498         shimoda  49.76  129.52     58.05      92.0    98.0
499         499          aykhal  37.72  -25.43     77.00      65.0    20.0
500         500          killam  26.73   33.94     93.20      34.0     0.0
501         501     gondanglegi  59.06   80.86     50.74      91.0   100.0

     wind speed country        date
0         11.41      US  1970-01-01
1         18.34      ZA  1970-01-01
2         21.47      PF  1970-01-01
3          4.70      CL  1970-01-01
4          8.05      CA  1970-01-01
..          ...     ...         ...
497        8.43      ID  1970-01-01
498        3.22      RU  1970-01-01
499       12.75      PT  1970-01-01
500        3.36      EG  1970-01-01
501        3.11      RU  1970-01-01

[502 rows x 10 columns]

               city    lat     lon  humidity country
0             kapaa  22.08 -159.32      78.0      US
1         cape town -33.93   18.42      93.0      ZA
2           rikitea -23.12 -134.97      80.0      PF
3      punta arenas -53.15  -70.92      80.0      CL
4    campbell river  50.02 -125.24      72.0      CA
..              ...    ...     ...       ...     ...
497             sur  -6.88  112.21      84.0      ID
498         shimoda  49.76  129.52      92.0      RU
499          aykhal  37.72  -25.43      65.0      PT
500          killam  26.73   33.94      34.0      EG
501     gondanglegi  59.06   80.86      91.0      RU

[502 rows x 5 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

humidity = weather_data[["humidity"]].astype(float)
lat_lon = weather_data[["lat","lon"]]
fig = gmaps.figure() 
fig.add_layer(gmaps.heatmap_layer(lat_lon, weights=(humidity["humidity"]) ))

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
utopia = data[["city","lat","lon","humidity","wind speed","max temp","country"]]
utopia = utopia.loc[(utopia["max temp"] <= 80) & (utopia["max temp"] >= 75) & (utopia["humidity"] <= 80) & (utopia["wind speed"] <=30)]
utopia

,city,lat,lon,humidity,wind speed,max temp,country
0,kapaa,22.08,-159.32,78.0,11.41,78.80,US
9,caravelas,-17.71,-39.25,65.0,9.62,77.45,BR
12,meulaboh,4.14,96.13,80.0,4.61,77.07,ID
21,miranda,-6.43,39.55,77.0,15.57,77.14,TZ
28,qaanaaq,45.03,35.38,70.0,1.50,76.59,UA
35,georgetown,38.73,-27.07,69.0,8.12,79.00,PT
47,hilo,21.39,-158.15,73.0,4.70,77.00,US
48,ilam,-9.80,-139.03,78.0,21.54,78.85,PF
50,atuona,20.89,-156.47,69.0,6.93,77.00,US
58,bengkulu,7.98,49.82,73.0,26.49,79.11,SO
62,alofi,50.56,58.27,38.0,6.71,77.00,KZ
76,dhidhdhoo,-16.48,-151.75,77.0,18.72,77.49,PF
85,vilhena,-20.33,-40.29,69.0,9.17,78.80,BR
93,salinopolis,-0.95,100.35,78.0,5.46,78.40,ID
95,puerto ayora,39.89,4.27,47.0,13.87,77.00,ES
113,new norfolk,-7.57,24.18,49.0,1.95,78.62,CD
117,severo-kurilsk,-6.22,155.63,77.0,4.38,78.44,PG
148,ostrovnoy,43.95,28.63,65.0,9.17,78.80,RO
195,tiksi,42.42,-122.83,52.0,4.70,77.00,US
220,nanortalik,45.63,-1.03,29.0,9.17,77.00,FR
221,zhangye,32.62,14.00,76.0,16.42,77.95,LY
233,saint-philippe,-20.67,-40.50,66.0,8.39,78.01,BR
239,royan,-22.97,-42.03,65.0,8.05,78.80,BR
242,jalu,11.11,7.72,77.0,4.09,77.38,NG
245,jibuti,-2.95,25.95,73.0,3.24,77.00,CD
276,satitoa,-23.49,-58.80,37.0,5.75,78.03,PY
291,paracuru,-1.57,9.26,78.0,8.41,75.18,GA
297,karoi,4.42,-7.35,77.0,9.06,77.97,CI
306,tatvan,38.52,-28.70,78.0,10.29,77.00,PT
309,lapua,31.61,55.41,18.0,10.54,76.57,IR
311,vanavara,43.43,6.74,60.0,8.05,75.20,FR
315,ndele,-0.95,122.79,79.0,5.01,77.49,ID
325,cap-aux-meules,-20.28,44.28,77.0,16.40,76.10,MG
329,ribeira grande,-29.68,-53.81,73.0,9.33,76.23,BR
333,yomitan,4.88,-1.76,79.0,12.21,78.57,GH
336,hofn,44.26,-88.42,43.0,11.41,75.99,US
338,ahipara,13.52,35.77,79.0,3.36,77.25,SD
349,plettenberg bay,45.02,-93.22,46.0,5.82,75.99,US
350,am timan,40.43,71.72,50.0,2.24,75.20,UZ
362,appleton,-2.23,-80.90,73.0,10.29,75.20,EC
366,bansang,-12.79,45.27,73.0,6.93,75.20,YT
389,pochutla,2.04,45.34,79.0,17.69,77.70,SO
395,chapada dos guimaraes,8.38,77.65,78.0,7.05,78.76,IN
401,craiesti,46.38,35.37,58.0,7.25,77.41,UA
403,geraldton,39.77,-86.16,78.0,12.75,75.20,US
405,hudson bay,4.38,-7.72,78.0,10.25,77.94,LR
416,farafangana,36.10,0.42,51.0,21.59,77.34,DZ
433,vadakku valliyur,33.59,-7.62,64.0,18.34,78.80,MA
435,bilma,4.87,-2.24,80.0,11.48,78.10,GH
450,constitucion,32.67,-17.10,64.0,7.11,75.99,PT
451,lavrentiya,19.30,97.97,73.0,1.05,76.75,TH
453,dunedin,7.45,126.58,77.0,4.76,78.73,PH
459,nioaque,-7.75,112.01,80.0,14.81,75.78,ID
463,khagaria,30.88,114.38,65.0,4.47,77.00,CN
468,poum,-3.48,23.43,67.0,0.58,79.56,CD
475,oranjemund,51.74,39.37,41.0,11.18,77.00,RU
484,mundo nuevo,28.42,-14.01,78.0,10.29,77.00,ES
488,sola,-14.78,24.80,31.0,6.35,76.42,ZM
499,aykhal,37.72,-25.43,65.0,12.75,77.00,PT

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
city_coord_df = utopia[["lat","lon"]]
hotel_df = []
no_hotel_counter = 0

for i,cities in (city_coord_df.iterrows()):

    try:
        latlonkey = str(cities["lat"]) + "," + str(cities["lon"])
        gurl = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=Hotel&radius=5000&location={latlonkey}&key={g_key}"

        response = requests.get(gurl)    
        hotel_data = response.json()
        hotel_df.append(hotel_data["results"][0]["name"])
        
    except IndexError:
        hotel_df.append("No hotel near by.")
        no_hotel_counter += 1

In [17]:
utopia_hotels = utopia.copy()
utopia_hotels =utopia_hotels.reset_index()
hotel_df = pd.DataFrame(hotel_df)
utopia_hotels["hotel name"] = hotel_df.astype(str)

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

KeyError: 'hotel name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure